<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Hero Database</title>

		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
		

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
        <!--Trying something here-->
        
	</head>
    <body>
        <header>
            <h1>My Hero Database</h1>
            <h3>Enter New Hero Below</h3>
        </header>

        <main>
            <form action="/myHeroForm" method="POST">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="heroName" placeholder="Hero Name">
                <input type="text" name="quirk" placeholder="Quirk">
                <input type="text" name="age" placeholder="Age">
                <input type="image" name="picture" placeholder="Picture">
                <button type="submit">Submit</button>
            </form>
        </main>

        <section>
            <ul class="heroes">
                <% for(let i=0; i < heroCollection.length; i++) {%>
                <li class="hero">
                    <span><%= heroCollection[i].picture</span>
                    <span><%= heroCollection[i].name %></span>
                    <span><%= heroCollection[i].heroName %></span>
                    <span><%= heroCollection[i].quirk %></span>
                    <span><%= heroCollection[i].age %></span> 
                </li>
                <% } %>
            </ul>
        </section>

        <div>
            <h2>Delete a Hero</h2>
            <form action="/myHeroForm" method="POST">
                <input type="text" name="name" placeholder="Hero's Name">
                <button id="delete-button">Delete</button>
            </form>
            <span id="message">

            </span>
        </div>

        


















    </body>
</html>